html,
* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 1.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  gap: 1rem;
}

input {
  height: 1.5rem;
  width: 50%;
}

button {
  width: fit-content;
  align-self: center;
  padding: 0.25rem;
}

#todo-list button {
  width: fit-content;
  margin-left: ;
}

main {
  position: fixed;
  overflow-y: scroll;
  place-items: center;
  background: #f0f2f5;
  height: 100%;
  width: 100%;
}

.todo-interface {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  height: fit-content;
  width: min(50rem);
  border-radius: 1rem;
  gap: 1.5rem;
  margin: 1.5rem;
  padding: 1rem;
  box-shadow: 0rem 1rem 5rem 1rem rgba(0, 0, 0, 0.08);
}

li {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

#todo-list li {
  background-color: #f9f9f9;
  border: 0.0625rem solid #ddd;
  border-radius: 0.375rem;
}

#todo-error {
  color: #e53e3e;
}

.input--error {
  border: 0.2rem solid #e53e3e;
  outline: none;
}

li input {
  width: auto;
}

.input-container {
  display: flex;
  justify-content: center;
}

#todo-input {
  border-right: none;
  margin-left: 3rem;
}

#todo-date-input {
  width: fit-content;
  border-left: none;
  margin-right: 1rem;
}

#todo-date-input::-webkit-datetime-edit {
  display: none;
}

li p {
  font-size: 0.8rem;
  color: gray;
  margin-left: auto;
}

li time {
  font-size: 0.8rem;
  color: gray;
  margin-left: auto;
}
